---
import Layout from "../../layouts/Layout.astro";
import WorkInProgress from "../../components/WorkInProgress.astro";

const title = "Raspberry Pi 環境での制御実証";
---

<Layout title={`${title} | Payload Yaw Control`} lang="ja">
  <section>
    <h1>{title}</h1>
    <WorkInProgress lang="ja" />
  </section>
</Layout>