---
import Layout from "../../layouts/Layout.astro";
import WorkInProgress from "../../components/WorkInProgress.astro";

const title = "Control Model Training";
---

<Layout title={`${title} | Payload Yaw Control`} lang="en">
  <section>
    <h1>{title}</h1>
    <WorkInProgress lang="en" />
  </section>
</Layout>