---
interface Props {
  lang: "ja" | "en";
}

const { lang } = Astro.props;

const base = import.meta.env.BASE_URL.replace(/\/$/, "");

const labels = {
  ja: "お問い合わせ",
  en: "Contact",
};
---

<footer>
  <div class="container">
    <p>© 2026 Hidekazu Hayashida</p>

    <nav>
      <a href={`${base}/${lang}/contact/`}>
        {labels[lang]}
      </a>
    </nav>
  </div>
</footer>